body {
  text-align: center;
  font-family: "Federant", serif;

  color: #ffffff;
}

//background: linear-gradient(#14f195, #9945ff);

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px black;
}

/* #all {
  position: relative;
} */

#rest {
  position: absolute;
}

#clouds {
  position: fixed;
  right: 0;
  bottmo: 0;
  min-width: 100%;
  min-height: 100%;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

#initial-paragraph {
  font-size: 45px;
  color: black;
}

#dexscreener {
  max-width: 7.5%;
  max-height: 75px;
  margin-left: 30px;
}

#raydium {
  max-height: 75px;
  max-width: 11%;
}

#PEPE {
  margin: 1px;
  max-width: 400px;
  height: 400px;
}

#telegram {
  max-height: 75px;
  max-width: 90%;
  width: 90%;
}

#twitter {
  max-height: 85px;
  max-width: 70%;
  margin-right: 30px;
  width: 60%;
}

#pepe-walking {
  margin: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#SCENARIO {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 5vw;
  color: black;
}

#STORY {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1100px;
}

#tale {
  position: absolute;
  background-color: black;
  opacity: 80%;
  color: white;
  text-anchor: right;
  max-width: 35%;
  margin: 45 2.5 auto 2.5;
}

#tale p {
  font-size: clamp(0.6rem, 1.8vw, 1.5rem);
  font-family: "Sorts Mill Goudy", serif;
}

#bomb {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

#bazooka {
  margin-top: 20px;
  z-position: -3;
  max-width: 90%;
}

#final-part {
  margin-top: 150px;
  font-size: 2.75vw;
  color: black;
  text-shadow: 0 0 1px #14f195;
}

#JOIN {
  margin-top: 100px;
}

#joinus-text {
  font-size: 6vw;
  color: black;
  text-shadow: 0 0 2px black;
}

#joinus {
  width: 100%;
}

#logos {
  margin-top: 40px;
  margin-bottom: 10px;
}

#dexscreener2 {
  max-width: 7.5%;
  max-height: 75px;
  margin-left: 50px;
  margin-right: 50px;
}

#raydium2 {
  max-height: 75px;
  max-width: 11%;
}

#telegram2 {
  max-height: 75px;
  max-width: 7.5%;
}

#twitter2 {
  max-height: 75px;
  max-width: 7%;
  margin-right: 50px;
  margin-left: 65px;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/
